/* *{
    box-sizing: border-box;
} */

/* body{
    color: #111;
    background-color: yellow;
} */

/* div{
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    float: left;
    background-color: orange;
} */
 
#00ff24;
#5C7E0E; 
#8AB029;
#A9D63F;
#F03118;

#E1F7CD;
#DDF8C3;
#CEEEB0;
#B7E091;
#9ED868; 


h1{
    text-align: center;
    display: inline-block;
}

body{
    background-color: #eef9dd;
}

/*====================
    Bootstrap classes
======================*/
.form-group{ margin-bottom: 0; }

.btn-exit{ background-color: #141B03; color: #fff; display: inline-block;}
.btn-exit:hover{ background-color: #203B09; color: #fff; }

.jumbotron{
    background-color: #9ED868;
    color: white;
}

.btn-danger{
    background-color: #5C7E0E;
    border-color: #141B03;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #8AB029;
    border-color: #141B03;
    font-weight: bold;
}

.my-well{
    height: 400px;
}

.my-clear{
    clear: both;
}

.submit-button{
    width: 150px;
    margin-left: auto;
    float: right;
}

.signup-button{
    float: right;
}

.my-form{
    margin-bottom: 50px;
}

.tabla-estadistica{
    margin: 0 auto;
    padding: 5px 15px;
    width: 100%;
    background-color: #9ED868;
    font-size:1.5em;
}

#una_parte_cantidad{
    visibility: hidden;
    margin-bottom: 10px;
    width: 64px;
    display: inline-block;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}

.well{
    background-color: #CEEEB0;
    border: none;
}

.navbar{ background-color: #142B03; }

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #fff;  /*Sets the text hover color on navbar*/
}

.my-logo{ height: 50px; }

.navbar-default .navbar-nav > .active{
    background-color: #fbdb65;
}

.navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #000;
      background: #A9D63F;
 }

.green-highlight{ background-color: red; }

div.ui-datepicker{ font-size:15px; }

.ui-datepicker {
    width: 216px;
    height: auto;
    margin: 5px auto 0;
    font: 9pt Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}





.tabla-de-ahorros > div:nth-child(1){ 
    padding-bottom: 0; 
    border-bottom: 
    1px solid black; 
}

.tabla-de-ahorros > div{ padding: 0 0 10px 0; width: 80%; margin: 0 auto; }
.tabla-de-ahorros > div:nth-child(1){ font-weight: bolder; text-align: center; }

.error{ color: red; }

.tab-content{
    background-color:#303136;
    color:#fff;
}

.nav-tabs > li > a:hover{
    background-color: #5C7E0E !important;
    border: medium none;
    color:#fff;
}

.nav-tabs > li.active > a:focus{
    background-color: #9ED868;  
}

.nav-tabs > li.active > a{
    background-color: #9ED868;  
    color: #000 !important;
}

.nav-tabs > li > a{
    color:#fff !important;
}

.nav-tabs{
    background-color: #141B03;
    border-radius: 4px 4px 0 0;
}

.cita{
    font-size: 2em;
    padding:30px;
    padding-bottom: 20px;
}

.autor{
    float: right;
    font-size: 1.5em;
    padding-right:30px; 
}

.message{
    font-weight: bold;
}

.message, .field-to-update{
    color: #bc1339;
}

.glyphicon{
    font-size: 30px;
    vertical-align: middle;
    color: #fff;
}

.delete-btn{
    font-weight: bolder;
    text-transform: uppercase;
    background-color: orange;
    color: #000;
}

.delete-btn:hover{
    font-weight: bolder;
    background-color: #fcb250;
}

.glyphicon-piggy-bank{
    vertical-align: top;
    color: orange;    
}

.nombre-app{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #000;
}